@import '../../../styles/variables';

.ourDiet {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    padding: 35px 20%;

   .title {
       max-width: 890px;
       position: relative;

       .subtitle {
           color: $blue;
           font-family: $bold;
           font-size: 28px;
           position: absolute;
           top: 66%;
           left: 17%;
       }
   }

   .columns {
       display: flex;

       .column {
           width: 33.3333%;

           p {
               font-size: 15px;
               color: $gray;
               text-align: center;
           }
       }
   }
}