@import '../../../styles/variables';
@import '../../../styles/mixins';

.stepSection {
  flex: 1;
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: $darkGray;
  color: $green;
  padding: 32px 16px;

  @include mdq(lg) {
    padding: 64px;
  }
}

.stepContainer {
  width: 100%;
  max-width: 640px;
  margin: 0 auto;

  h2 {
    font-family: $bold2;
    font-size: 28px;
    max-width: 500px;
    margin-bottom: 32px;
  }

  p {
    font-family: $regular2;
    font-size: 18px;
    line-height: 20px;
    max-width: 500px;
    margin-bottom: 32px;
  }

  button {
    margin: 0;
    width: 100%;
    background-color: $green;
    border-color: $green;
    color: $darkGray !important;

    &:disabled {
      opacity: 0.5;
      background-color: $darkGreen;
      border-color: $darkGreen;
    }
  }
}
