@import '../../styles/variables';

.tabs {
  .tabList {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: scroll;

    button {
      font-size: 16px;
      color: $black;
      margin-right: 10px;
      font-family: $bold2;
      text-transform: uppercase;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}
