@import '../../styles/variables';

.calculatorSteps {
    margin: 0 auto;
    max-width: 576px;

    .step {
        margin-bottom: 40px;

        h2 {
            font-size: 24px;
            font-family: $bold2;
            margin-bottom: 20px;
            text-align: center;
        }

        div[role=button] {
            cursor: pointer;
            border-radius: 1000px;
            border: 2px solid $blue;
            color: $blue;
            display: flex;
            flex-flow: column;
            align-items: center;
            justify-content: center;
            font-family: $regular;
            font-size: 18px;
            line-height: 24px;
            margin-bottom: 15px;
            padding: 15px 20px;
            transition: all 200ms ease-out;

            span {
                letter-spacing: 1.2px;
                font-size: 12px;
            }

            &.selected {
                background-color: $blue;
                color: $white;
            }
        }

        input {
            background-color: $white;
            border: 1px solid $lightGray;
            display: block;
            font-family: $bold;
            font-size: 20px;
            padding: 15px 20px;
            text-align: center;
            width: 100%;
            transition: border, 200ms ease-out;

            &:focus {
                border: 1px solid $black;
            }
        }
    }

    .profile {
        margin: 0 auto;
        max-width: 576px;

        &Details {
            margin-bottom: 40px;

            div {
                display: flex;
                justify-content: space-between;
            }

            span {
                &:first-child {
                    font-family: $bold;
                }
            }
        }

        &Results {
            flex-grow: 1;
            margin-bottom: 20px;
            width: 80%;

            h3 {
                font-family: $bold2;
                font-size: 42px;

                span {
                    font-size: 32px;
                }
            }

            p {
                text-align: center;
            }
        }
    }

    .resultImage {
        margin: 0 auto;
        margin-bottom: 40px;
        width: 80%;
        max-width: 375px;
    }

    .prevButton {
        color: $darkGray;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: $bold2;
        font-size: 18px;
        margin: 0 auto;
        max-width: 400px;
        width: 100%;

        span {
            margin-left: 5px;
        }

        &:focus {
            text-decoration: underline;
        }
    }

    .actionButton {
        border-radius: 1000px;
        border: 2px solid $orange;
        color: $orange;
        display: block;
        font-size: 18px;
        font-family: $bold2;
        margin: 0 auto 20px;
        padding: 15px;
        width: 100%;
        max-width: 400px;

        // &:focus {
        //     background-color: $lightOrange;
        // }
    }
}