@import '../../../styles/variables';
@import '../../../styles/mixins';

.container {
  padding: 64px 16px;
}

.appointments {
  margin: 0 auto;
  max-width: 768px;

  &-info {
    margin-bottom: 32px;

    h2 {
      margin: 0 auto 32px;
    }
  }

  &-types {
    padding: 0 8px;

    @include mdq(lg) {
      display: flex;
    }
  }

  .appointment-type {
    border: 1px solid $blue;
    padding: 16px;
    margin-bottom: 32px;
    text-align: center;
    border: 1px solid $darkGreen;

    @include mdq(lg) {
      width: 50%;
      margin-right: 16px;
    }

    .appointment-type_cta {
      color: #29434e;
      background-color: $green;
    }

    .icon {
      color: $darkGreen;
      font-size: 36px;
      padding: 16px;
    }

    &:last-child {
      border: 1px solid $blue;

      @include mdq(lg) {
        margin-right: 0;
        margin-left: 16px;
      }

      .appointment-type_cta {
        color: $white;
        background-color: $blue;
      }

      .icon {
        color: $blue;
      }
    }

    &_title,
    &_description,
    &_price,
    &_cta {
      color: #29434e;
      font-family: $bold2;
      font-size: 18px;
      margin-bottom: 16px;
      text-align: center;
    }

    &_description {
      font-family: $light;
    }

    &_cta {
      font-family: $light;
      color: $white;
      background-color: $blue;
      font-size: 18px;
      padding: 4px 16px;
      text-transform: uppercase;
    }

    &_followUp {
      margin-top: 24px;
      font-family: $light;
      font-size: 12px;
    }
  }
}
