.sliderControls {
   .bullets {
        display: flex;
        justify-content: center;
        position: absolute;
        right: 2.5%;
        bottom: 2.5%;

        .bullet {
            border-radius: 50%;
            margin: 0 5px;
            height: 15px;
            width: 15px;
            background-color: rgba(21, 21, 21, 0.25);
            cursor: pointer;
        }
   }

   .arrow {
       position: absolute;
   }
}