@use "../../../styles/variables" as *;
@use "../../../styles/mixins" as *;

.cartHistory {
  background: $white;
  border: 1px solid rgba($accent-color-teal, 0.08);
  border-radius: 18px;
  box-shadow: 0 12px 36px rgba($accent-color-teal, 0.05);
  color: $dim-gray;
  font-size: 12px;
  margin-top: 24px;
  padding: 20px;

  h3 {
    color: $accent-color-teal;
    font-family: $bold2;
    font-size: 17px;
    margin-bottom: 12px;
  }

  strong {
    font-family: $bold2;
  }

  &Item {
    border-bottom: 1px solid $border;
    font-size: 11px;
    margin-bottom: 10px;
    padding: 10px 0;

    &:hover {
      background-color: #fafafa;
    }

    div {
      display: flex;
      align-items: center;

      &:first-child {
        margin-bottom: 4px;
      }
    }

    button {
      background: rgba($lightBlue, 0.18);
      border-radius: $br-full;
      color: $accessibleBlue;
      font-family: $bold;
      font-size: 9px;
      margin-left: 16px;
      padding: 5px 9px;
    }
  }

  > button {
    color: $important;
    font-family: $bold;
    font-size: 10px;
    margin-bottom: 8px;
  }
}
