@import '../../../styles/_variables';

.post {
  background-color: lighten($blue, 58%);
  &_body {
    p {
      text-align: justify;
      margin-bottom: 8px;
    }
  }
  &_aside {
    p {
      text-align: justify;
      margin-bottom: 8px;
    }
  }
}
