@import '../../../../styles/variables';

.navbar {
  &Item {
    color: $border;
    font-family: $regular2;
    font-size: 14px;
    letter-spacing: 1.1px;
    padding-right: 15px;
    margin-right: 15px;
    text-transform: uppercase;
    transition: color 100ms ease;
    cursor: pointer;
    border-right: 1px solid $border;

    &.active {
      font-family: $bold2;
      color: $orange !important;
    }

    &.dark {
      color: $darkGray;
    }

    &:hover {
      color: darken($orange, 7.5%);
    }
  }
}
