@import '../../../../styles/variables';

.navbar {
  display: flex;
  &Item {
    border-right: 1px solid $border;
    display: flex;
    align-items: center;
    color: $border;
    font-family: $regular2;
    font-size: 13px;
    letter-spacing: 1.1px;
    padding: 8px 16px;
    text-align: center;
    text-transform: uppercase;
    transition: all 250ms ease;
    cursor: pointer;

    &.active {
      font-family: $bold2;
      color: $orange !important;
    }

    &.dark {
      color: $darkGray;
    }

    &:hover {
      background-color: $snow;
      color: lighten($orange, 7.5%);
    }

    &:last-child {
      border-right: none;
    }
  }
}
