@import '../../../styles/_variables';
@import '../../../styles/mixins';

.categoryTitle {
    font-family: $cursiveTitle;
    margin-bottom: 10px;
    padding: 20px 0;
    position: relative;

    @include mdq(lg) {
        padding: 0;
        margin-bottom: 20px;
        text-align: left;
    }
}