@import '../../../../styles/_variables';

.diet {
    color: $black;
    padding: 80px 35px;
    margin: 0 auto;

    &Paragraph {
        max-width: 600px;
        font-size: 18px;
        margin: 40px auto;

        &:last-child{
            margin-bottom: 0;
        }

        &Small {
            display: block;
            font-size: 12px;
            line-height: 18px;
        }
    }
}