@import '../../styles/_variables';
@import '../../styles/mixins';

.product {
    max-width: 600px;
    margin: 0 auto;
    padding: 60px 25px 0;

    @include mdq(lg) {
        width: 100%;
        max-width: 768px;
    }

    .backLink {
        color: $darkGray;
        font-family: $light;
        font-size: 14px;
        margin-bottom: 10px;
        padding-top: 5px;

        span {
            border-bottom: 1px solid $lightGray;
            display: inline-block;
        }
    }

    &Info {
        margin-bottom: 40px;

        @include mdq(lg) {
            display: flex;
            align-items: stretch;
            justify-content: space-between;
            margin-bottom: 0;
        }

        .images {
            overflow: hidden;
            margin-bottom: 15px;

            @include mdq(lg) {
                width: 35%;
            }
        }

        .info {
            @include mdq(lg) {
                padding: 40px 0;
                padding-right: 20px;
                flex-shrink: 0;
                display: flex;
                flex-flow: column;
                justify-content: space-between;
            }
        }

        h1 {
            color: $gray;
            font-family: $bold2;
            font-size: 24px;
            letter-spacing: 2.5px;
            line-height: 1.65;
            text-align: center;
            text-transform: uppercase;
            margin-bottom: 15px;
        }

        .price {

            p {
                line-height: 1.5;
                text-align: center;

                @include mdq(lg) {
                    text-align: right;
                }
            }

            .precio {
                font-family: $bold;
                font-size: 20px;
                letter-spacing: 1.5px;
            }

            .small {
                color: $gray;
                font-family: $regular2;
                font-size: 16px;
                letter-spacing: 0;
            }
        }

        a {
            color: $gray;
            border: 1px solid $lightGray;
            display: flex;
            align-items: center;
            justify-content: center;
            font-family: $regular2;
            letter-spacing: 2.5px;
            padding: 14px 10px;
            text-decoration: none;
            text-transform: uppercase;
            margin-top: 40px;
    
            svg {
                margin-right: 5px;
            }
        }
    }

    &Detail {
        border-top: 1px solid #f0f0f0;
        padding: 20px 0;

        @include mdq(lg) {
            display: flex;

            > div {
                width: 50%;
            }
        }
        h2 {
            color: $gray;
            font-size: 16px;
            line-height: 20px;
            font-family: $bold2;
            margin-bottom: 8px;
        }

        p {
            font-size: 14px;
            margin-bottom: 20px;
        }
    }

    .icons {
        display: flex;
        padding-bottom: 10px;

        span {
            width: 30px!important;
            height: 30px!important;
            margin-left: 5px!important;
        }
    }
}