.layout {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    min-height: 100vh;

    header,
    footer {
        flex-grow: 0;
        flex-shrink: 0;
    }

    main {
        flex-grow: 1;
        height: 100%;
    }
}