.animationBox {
    height: 100%;
    overflow: hidden;
}

.fadeInFromBottom {
    opacity: 0;
    position: relative;
    transform: translateY(50%);

    &Animation {
        animation: fade-in-bottom 500ms ease-out 50ms 1 normal forwards;
    }
}

.fadeInFromLeft {
    opacity: 0;
    position: relative;
    transform: translateX(-100%);

    &Animation {
        animation: fade-in-left 750ms ease-out 50ms 1 normal forwards;
    }
}

.fadeInFromRight {
    opacity: 0;
    position: relative;
    transform: translateX(100%);

    &Animation {
        animation: fade-in-right 750ms ease-out 50ms 1 normal forwards;
    }
}

.growFromBottom {
    position: relative;
    transform: scale(0);
    transform-origin: bottom;

    &Animation {
        animation: fade-in-center 1000ms ease-in-out 200ms 1 normal forwards;
    }
}

@keyframes fade-in-bottom {
    from {
        opacity: 0;
        transform: translateY(50%);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fade-in-left {
    from {
        opacity: 0;
        transform: translateX(-100%);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fade-in-right {
    from {
        opacity: 0;
        transform: translateX(100%);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fade-in-center {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}
