@import "../../../../styles/_variables";
@import "../../../../styles/mixins";

.stepsActions {
  display: flex;
  flex-flow: column-reverse;
  padding: 0 16px;

  @include mdq(md) {
    flex-flow: row;
    align-items: center;
    justify-content: space-between;
    padding: 16px;
  }
  .stepsButton {
    @include button-styles($width: 200px);
  }
}
