@import '../../styles/_variables';

.slider {
    background-color: $white;
    position: relative;

    .container{
        height: 100%;
        display: flex;
        flex-wrap: nowrap;
        overflow: hidden;
    }
}