@import "../../styles/mixins";
@import "../../styles/variables";

.clientForm {
  h2 {
    font-size: 24px;
    font-family: $bold;
    margin-bottom: 16px;
  }

  form {
    > div {
      margin-bottom: 24px;

      &:last-of-type {
        margin-bottom: 32px;
      }
    }
  }

  label,
  input {
    display: block;
    width: 100%;
    max-width: 640px;
  }

  label {
    font-size: 12px;
    font-family: $bold2;
    text-transform: uppercase;
    margin-bottom: 4px;
  }

  input {
    margin-top: 8px;
    padding: 8px;
    @include input-styles();
  }

  button {
    @include button-styles();
    display: block;
    margin: 0 auto;
  }

  .error {
    color: $important;
    font-size: 12px;
    font-family: $bold2;
  }

  .checkbox {
    display: flex;
    align-items: center;
    font-family: $regular;
    font-size: 14px;
    text-transform: none;

    &:hover input + .checkmark {
      cursor: pointer;
      border-color: $blue;
    }

    input {
      position: absolute;
      left: -1000px;
      top: -1000px;
      width: 0;
      height: 0;
      opacity: 0;

      &:checked + .checkmark {
        border-color: $blue;

        &:after {
          background-color: $blue;
        }
      }
    }

    .checkmark {
      border-radius: $br-full;
      display: inline-block;
      width: 20px;
      height: 20px;
      border: 2px solid $border;
      margin-right: 10px;
      position: relative;

      &:after {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        width: 11px;
        height: 11px;
        border-radius: $br-full;
        background-color: transparent;
        transform: translate(-50%, -50%);
      }
    }
  }
}
