@import "../../../styles/_variables";
@import "../../../styles/mixins";

.products {
  max-width: 1440px;
  margin: 0 auto;
  padding: 64px 0;
  position: relative;

  @include mdq(md) {
    padding: 64px 0;
  }

  @include mdq(lg) {
    padding: 128px 0;
  }

  .title {
    font-family: $cursiveTitle;
    font-size: 48px;
    margin: 0 auto;
    margin-bottom: 48px;

    @include mdq(md) {
      margin-bottom: 64px;
    }
  }

  &Categories {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: center;
  }

  &Category {
    width: 320px;
    height: 320px;
    overflow: hidden;
    margin-bottom: 20px;
    position: relative;
    cursor: pointer;
    max-width: 320px;

    @include mdq(md) {
      margin: 0 32px;
      height: auto;
      width: calc((100% / 3) - 64px);
    }

    @include mdq(lg) {
      margin: 0 64px;
      height: auto;
      width: calc((100% / 3) - 128px);
      max-width: 275px;
    }

    &Content {
      position: absolute;
      width: 100%;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }
}
