@import '../../../styles/_variables';
@import '../../../styles/mixins';

.products {
  position: relative;
  padding: 64px 0;

  @include mdq(md) {
    padding: 64px 0;
  }

  @include mdq(lg) {
    padding: 128px 0;
  }

  .title {
    font-family: $cursiveTitle;
    font-size: 32px;
    margin: 0 auto;
    margin-bottom: 48px;

    @include mdq(md) {
      margin-bottom: 64px;
    }
  }

  &Categories {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: center;
  }

  &Category {
    width: 320px;
    height: 320px;
    overflow: hidden;
    margin-bottom: 20px;
    position: relative;
    cursor: pointer;

    @include mdq(lg) {
      margin: 0 32px;
      height: auto;
      width: calc((100% / 5) - 64px);
    }
    //   margin: 0 20px 20px;
    //   width: 256px;
    //   height: 256px;
    // }

    // @include mdq(xxl) {
    //   margin: 0 20px;
    //   width: 208px;
    //   height: 208px;
    // }

    &Content {
      position: absolute;
      width: 100%;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }
}
