@import '../../../styles/_variables';

.catalog {
    max-width: 600px;
    margin: 0 auto;
    padding: 40px 25px;

    .category {
        padding: 40px 0;
        margin-bottom: 40px;

        &:last-child {
            margin-bottom: 0;
        }
    }
}