@import '../../../styles/_variables';
.heroButton {
  background-color: $secondary-color;
  border: 1px solid $secondary-color;
  border-radius: $br-base;
  font-size: 20px;
  font-family: $light2;
  letter-spacing: 1.2px;
  min-width: 128px;
  margin: 0 8px;
  padding: 8px 16px;
  text-transform: uppercase;

  &.primary {
    color: $platinum;
  }

  &.secondary {
    background-color: $platinum;
    border: 1px solid $platinum;
    color: $secondary-color;
  }
}
