@import '../../../styles/_variables';
.heroButton {
  background-color: $secondary-color;
  border: 1px solid $secondary-color;
  border-radius: $br-base;
  font-size: 20px;
  font-family: $light2;
  letter-spacing: 1.2px;
  min-width: 128px;
  margin: 0 8px;
  padding: 8px 16px;
  text-transform: uppercase;
  transition: all 100ms ease-out;

  &:hover {
    transform: scale(1.005);
  }

  &.primary {
    color: $white;

    &:hover {
      border-color: $white;
    }
  }

  &.secondary {
    background-color: $white;
    border: 1px solid $white;
    color: $secondary-color;

    &:hover {
      border-color: lighten($secondary-color, 20%);
    }
    
  }
}
