@import '../../../styles/variables';
@import '../../../styles/mixins';

.OurCostumers {
  padding: 64px 32px;

  @include mdq(md) {
    padding: 128px 32px;
  }

  .costumer {
    display: flex;
    flex-flow: column;
    width: 100%;
    padding: 20px;
    max-width: 600px;

    &Content {
      display: flex;
      flex-flow: column;
      align-items: flex-end;
      margin-bottom: 32px;

      &Quote {
        font-family: $quoteItalic;
        font-size: 20px;
        letter-spacing: 1.025px;
        line-height: 30px;
        margin-bottom: 40px;
        position: relative;
        background-color: rgba(255, 111, 0, 0.125);
        padding: 8px 16px;

        &::before {
          content: '“';
          position: absolute;
          color: $blue;
          font-size: 100px;
          left: -20px;
          top: 90px;
          opacity: 0.75;
          transform: scale(3);
        }

        &::after {
          content: '”';
          position: absolute;
          color: $blue;
          font-size: 100px;
          right: 20px;
          bottom: -70px;
          opacity: 0.75;
          transform: scale(3);
        }

        span {
          position: relative;
          z-index: 1;
        }

        // &::after {
        //     content: '”';
        // }
      }

      &Name {
        text-align: right;
        font-family: $bold2;
      }

      &SocialMedia {
        background-color: $blue;
        color: $white;
        display: inline-block;
        font-family: $bold2;
        font-size: 12px;
        padding: 2px 5px;
        text-align: right;
        width: auto;
        border-radius: 50px;
      }
    }

    &Thumbnail {
      margin: 0 auto;
      width: 250px;
      height: 250px;
      > span {
        border-radius: 50%;
        width: 100% !important;
        height: 100% !important;
      }
    }
  }
}
