@import "../../../styles/variables";
@import "../../../styles/mixins";

.dnatureSystem {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #29434e;

  .benefits {
    color: $platinum;
    padding: 0 32px;

    @include mdq(lg) {
      flex-shrink: 0;
    }

    div {
      max-width: 640px;
      margin: 0 auto;
    }

    h3 {
      font-family: $regular2;
      font-size: 14px;
      margin-bottom: 24px;
      text-transform: uppercase;

      @include mdq(lg) {
        font-size: 16px;
      }

      span {
        display: inline-block;
        padding: 8px 16px;
      }
    }

    p {
      font-family: $light;
      margin-bottom: 48px;

      @include mdq(lg) {
        width: 75%;
        font-size: 18px;
      }
    }
  }

  .benefits {
    padding: 64px 32px;

    h2 {
      color: $blue;
    }

    h3 {
      text-align: right;
      span {
        color: $blue;
        border: 1px solid $blue;
      }
    }

    p {
      text-align: right;
      border-right: 1px solid $blue;
      margin-right: 16px;
      margin-left: auto;
      padding-right: 16px;
    }
  }

  .dnaturePlate {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    min-height: 80vh;
    width: 100%;

    &::before {
      content: "";
      background-image: url("/images/plandna-mobile.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      display: block;
      height: 100%;
      width: 100%;
      position: absolute;

      @include mdq(md) {
        background-attachment: fixed;
      }
    }

    .content {
      background-color: rgba(255, 111, 0, 0.05);
      color: $white;
      text-shadow: 1px 1px #414141;
      z-index: 1;
      padding: 16px;
      text-align: center;

      @include mdq(lg) {
        background-color: rgba(255, 111, 0, 0.25);
        padding: 32px;
      }
    }

    h3 {
      font-family: $cursiveTitle;
      font-size: 40px;
      margin-bottom: 32px;

      @include mdq(lg) {
        font-size: 48px;
      }
    }

    ul {
      text-align: center;
      margin-bottom: 32px;

      li {
        font-family: $light;
        font-size: 24px;
        margin-bottom: 16px;

        @include mdq(lg) {
          font-size: 28px;
        }
      }
    }

    h4 {
      font-family: $bold2;
      font-size: 28px;

      @include mdq(lg) {
        font-size: 32px;
      }
    }
  }

  .planInfo {
    padding: 16px;
    border: 1px solid $blue;

    @include mdq(lg) {
      padding: 32px;
    }

    h2 {
      background-color: $blue;
      color: $white;
      margin-bottom: 32px;
      padding: 8px;
      text-align: center;
    }

    p {
      margin-bottom: 16px;
    }

    a {
      @include button-styles();
    }
  }
}
