@import "../../styles/variables";
@import "../../styles/mixins";

.cart {
  padding: 16px 32px;
  max-width: 768px;
  margin: 0 auto;
  width: 100%;

  @include mdq(md) {
    border: 1px solid $lightGray;
    border-radius: $br-base;
    margin-top: 64px;
  }

  .header {
    font-family: $bold2;
    font-size: 12px;
    margin-bottom: 16px;
    text-transform: uppercase;
  }

  .items {
    margin-bottom: 32px;

    .item {
      padding: 16px;
      border-radius: $br-base;
      border: 1px solid $lightGray;
      display: flex;
      flex-flow: column;
      margin-bottom: 16px;

      @include mdq(md) {
        flex-flow: row;
        align-items: center;
        justify-content: space-between;
      }

      &Info {
        font-size: 16px;
        margin-bottom: 16px;

        h3 {
          font-size: 16px;
          margin-bottom: 8px;
        }

        p {
          font-size: 16px;

          .unds {
            color: $gray;
            display: inline-block;
            margin-left: 8px;
            font-family: $light;
            font-size: 13px;
          }
        }
      }
    }

    .itemTotalPrice {
      font-family: $bold;
      font-size: 14px;
    }
  }

  .total {
    border: 1px solid $lightGray;
    border-radius: $br-base;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: $bold;
    margin-bottom: 32px;
    padding: 16px;
    text-align: right;
  }

  .purchase {
    display: flex;
    align-items: center;
    justify-content:center;
    flex-direction: column-reverse;

    @include mdq(md) {
      flex-flow: row;
    }

    .button {
      color: $text-color;
      background-color: $green;
      border-radius: $br-base;
      font-size: 18px;
      font-family: $light2;
      letter-spacing: 1.2px;
      margin: 0 16px;
      margin-bottom: 16px;
      padding: 16px;
      text-transform: uppercase;
      width: 100%;
      max-width: 320px;
    
      @include mdq(lg) {
        padding: 8px 16px;
      }
    
      &:hover {
        color: $white;
        background-color: $darkGreen;
      }

      &.empty {
        background-color: $white;
        border: 1px solid $darkGreen;
        color: $darkGreen;
      }
    }
  }
}
