@import "../../styles/variables";
@import "../../styles/mixins";

.cart {
  padding: 32px;
  width: 100%;
  max-width: 768px;
  margin: 0 auto;
  margin-top: 32px;

  @include mdq(md) {
    border: 1px solid $snow;
  }

  .header {
    font-family: $bold2;
    font-size: 12px;
    margin-bottom: 16px;
    text-transform: uppercase;
  }

  .items {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px;
    border-radius: $br-base;
    border: 1px solid $snow;

    .item {
      margin-bottom: 16px;

      &Info {
        margin-bottom: 16px;
        h3 {
          font-family: $regular;
          font-size: 16px;
          margin-bottom: 8px;
        }
      }
    }

    .itemTotalPrice {
      font-family: $bold;
      font-size: 14px;
    }
  }
}
