@import '../../../styles/_variables';

.benefits {
  background-color: $green;
  display: flex;
  flex-flow: column;
  padding: 80px 20px 60px;
  position: relative;
  overflow: hidden;

  .title {
    font-family: $cursiveTitle;
    font-size: 32px;
    margin: 0 auto;
    margin-bottom: 40px;
    // color: $green;
  }

  &Container {
    display: flex;
    align-items: center;
    justify-content: center;
    ul {
      li {
        font-size: 24px;
        font-family: $light2;
        margin-bottom: 16px;
        text-transform: uppercase;
      }
    }
  }
}
