@import '../../../styles/variables';

.planDNAContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: $darkGreen;
  color: $white;
  padding: 40px 20px;
  box-sizing: border-box;

  h1 {
    font-family: $bold2;
    font-size: 32px;
    line-height: 38px;
    max-width: 500px;
    margin-bottom: 32px;
  }

  p {
    font-family: $regular2;
    font-size: 18px;
    line-height: 20px;
    max-width: 500px;
    margin-bottom: 32px;
  }
}
