@import '../../../../styles/_variables';

.dnatureSystem {
    background-color: $orange;
    padding: 80px 20px;
    position: relative;
    overflow: hidden;

    .title {
        color: $white;
        margin-bottom: 40px;
        text-shadow: 1px 1px rgba(33,33,33,.25);
        position: relative;
        z-index: 1;
    }

    &Container {
        position: relative;
        margin: 0 auto;
        width: 100%;
        max-width: 600px;
        z-index: 1;
    }

    &Item {
        color: $white;
        margin-bottom: 10px;
        padding: 20px 0px;
        width: 100%;
        
        &:last-child {
            margin-bottom: 0;
        }

        &Title {
            position: relative;
            height: 80px;

            > div {
                position: absolute;
                left: 50%;
                top: 50%;
                width: 100% ;
                max-width: 400px;
                transform: translate(-50%, -50%);
                display: flex;
                align-items: center;
            }

            &Text {
                color: $white;
                font-family: $bold2;
                font-size: 14px;
                display: flex;
                height: 50%;
                padding-right: 25px;
                position: absolute;
                left: 29.5%;
                top: 50%;
                text-shadow: 0.5px 0.5px rgba(33,33,33,.15);
                transform: translateY(-52%) scale(1.05);
            }
        }
    }
}