@import '../../../styles/_variables';
@import '../../../styles/mixins';

.filter {
    display: flex;
    position: relative;
    flex-flow: column;

    @include mdq(lg) {
        display: none;
    }

    &Header {
        display: flex;
        align-items: center;
        font-family: $bold;
        font-size: 14px;
        letter-spacing: 1px;
        text-transform: uppercase;

        .icon {
            -webkit-transition:  -webkit-transform 200ms linear;
            transition: transform 200ms linear;
        }
    }

    &List {
        padding-top: 10px;
        height: 0;
        overflow: hidden;
        transition: height 200ms ease-in;

        li {
            font-size: 14px;
            padding: 4px 0 4px 16px;
        }
    }

    .show {
        height: 190px;
        width: 100%;
    }
}