@import '../../../styles/_variables';
@import '../../../styles/mixins';

.filter {
    display: flex;
    position: relative;
    flex-flow: column;
    position: fixed;
    left: 32px;
    top: 80px;
    z-index: 2;

    @include mdq(lg) {
        display: none;
    }

    &Header {
        display: flex;
        align-items: center;
        font-size: 12px;
        font-family: $bold;
        letter-spacing: 1px;
        text-transform: uppercase;
        margin-bottom: 5px;

        .icon {
            -webkit-transition:  -webkit-transform 200ms linear;
            transition: transform 200ms linear;
            margin-left: 10px;
            font-size: 12px;
        }
    }

    &List {
        background: $white;
        box-shadow: -1px 1px 5px -1px rgba(21, 21, 21, 0.125);
        height: 0;
        overflow: hidden;
        transform: translateX(-32px);

        li {
            font-size: 16px;
            padding: 16px 16px 16px 16px;
            border-bottom: 1px solid $border;

            .active {
                color: $orange;
            }
            &:last-child {
                border-bottom: none;
            }
        }
    }

    .show {
        height: auto;
        width: 300px;
        padding: 8px 16px 4px;
    }
}