@import '../../../../styles/_variables';

.products {
    position: relative;

    &Title{
        margin: 80px 0;
    }

    &Categories {
        display: flex;
        flex-wrap: wrap;
        max-width: 600px;
        margin: 0 auto 80px;
    }
    
    &Category {
        margin: 10px 0;
        position: relative;
        width: 100%;
        padding: 0 20px;

        &Thumbnail {
            display: flex;
            align-items: center;
            position: relative;
            box-shadow: 0 1px 3px rgba(0,0,0,0.24), 0 1px 2px rgba(0,0,0,0.24);

            .filter {
                position: absolute;
                left: 0;
                top: 0;
                height: 100%;
                width: 100%;
                background-image: -webkit-gradient(linear,left bottom,left top,from(rgba(4,4,4,.65)),to(rgba(54,54,54,.2)));
                background-image: linear-gradient(to top,rgba(4,4,4,.65),rgba(54,54,54,.2));
            }
        }

        &Content {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }

        .label {
            color: $white;
            display: inline-block;
            font-family: $bold2;
            font-size: 20px;
            letter-spacing: 6px;
            margin-bottom: 10px;
            text-transform: uppercase;
            text-shadow: 1px 1px rgba(33,33,33,.25)
        }

        
        .button {
            background-color: $white;
            border-color: $white;
            color: #5c5c5c;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-flow: column;
            font-family: $bold2;
            font-size: 12px;
            letter-spacing: 4px;
            padding: 8px 12px;
            text-align: center;
            text-transform: uppercase;
            width: 133px;
            border-left: $darkGreen 2px solid;
        }


        
    }
}