@import '../../../../styles/_variables';

.products {
    border-top: 2px solid $darkGreen;
    position: relative;

    &Title{
        margin: 80px 0;
    }

    &Categories {
        display: flex;
        flex-wrap: wrap;
        max-width: 600px;
        margin: 0 auto 80px;
    }
    
    &Category {
        background-color: rgba(21, 21, 21, 0.8);
        width: 50%;

        &:nth-child(odd) {
            border-right: 1px solid $darkGreenGhost;
        }

        &:nth-child(3),
        &:nth-child(4) {
            border-top: 1px solid $darkGreenGhost;
        }

        &Ribbon {
            color: $white;
            display: flex;
            flex-flow: column;
            justify-content: center;
            align-items: center;
            margin: 0 auto;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            width: 35vw;
            height: 25vw;

            .icon {
                display: flex;
                margin-bottom: 15px;
                img {
                    width: 55px !important;
                }
            }

           .label {
                background-color: $darkGreenGhost;
                // font-size: 18px;
                line-height: 18px;
                border-radius: 5px;
                padding: 5px;
                width: 100%;
                text-align: center;
            }
        }
        &Thumbnail {
            display: flex;
            align-items: center;
            position: relative;
            
            .filter {
                background-color: rgba(21, 21, 21, 0.8);
                width: 100%;
                height: 100%;
                position: absolute;
                left: 0;
                top: 0;
            }
        }


        
    }
}