@import '../../../../styles/_variables';

.products {
    position: relative;

    &Title{
        margin: 80px 0;
    }

    &Categories {
        display: flex;
        flex-wrap: wrap;
        max-width: 600px;
        margin: 0 auto 80px;
    }
    
    &Category {
        width: 100%;
        margin-bottom: 40px;
        position: relative;

        &Thumbnail {
            display: flex;
            align-items: center;
            position: relative;
        }

        &Ribbon {
            display: flex;
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;

           .label {
                font-family: $bold2;
                font-size: 16px;
                letter-spacing: 1.5px;
                line-height: 18px;
                padding: 8px 3vw;
                width: 100%;
                text-transform: uppercase;
            }
        }
        &Button {
            border-radius: 50px;
            padding: 5px 20px 5px 5px;
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            color: $white;
            background-color: $orange;
            font-family: $bold2;
            text-transform: uppercase;
            
            img {
                width: 35px !important;
            }

            span:last-child {
                margin-left: 5px;
            }
        }


        
    }
}