@import '../../../../styles/_variables';

.welcome {
    padding: 80px 0;
    overflow: hidden;
    position: relative;

    .title {
        max-width: 60%;
        margin: 0 auto;
        margin-bottom: 40px;
    }

    &Content {
        padding: 0 20px;
    }

    &Intro {
        font-size: 18px;
        text-align: justify;
        margin: 0 auto;
        margin-bottom: 40px;
        max-width: 600px;
    }

    &Items {
        display: flex;
        flex-flow: column;
        align-items: center;
        margin: 0 auto;
        margin-top: 40px;
        max-width: 600px;

        &Item {
            background-color: rgba(121, 121, 121, 0.1);
            margin-bottom: 20px;
            display: flex;
            flex-flow: column;
            align-items: center;
            justify-content: center;
            padding: 20px;

            &:last-child {
                margin-bottom: 0;
            }
        }

        &Image {
            width: 100px;
            margin: 0 auto;
        }

        &Title {
            font-family: $bold2;
            font-size: 20px;
            padding: 10px;
            text-align: center;
            text-transform: uppercase;
        }

        &Text {
            text-align: justify;
        }
    }

    &Quote {
        border-left: 3px solid $orange;
        font-family: $quoteItalic;
        font-size: 20px;
        letter-spacing: 1.5px;
        line-height: 30px;
        margin: 40px auto 0;
        padding: 20px 10px 20px 20px;
        text-align: right;
        width: 100%;
        max-width: 600px;
        
        span {
            font-family: $quoteItalicBold;
        }
    }

    // .title {
    //     margin-bottom: 80px;
    // }

    // .sectionContent {
    //     position: relative;
    //     z-index: 1;
    // }

    // .sectionImage {
    //     margin: 50px 5px 0;
    //     width: 50%;
    //     position: relative;
    //     transform: translate(60%, 15px) scale(2.6);
    //     max-width: 300px;
    //     z-index: 0;
    //     border-radius: 50%;
    //     shape-outside: circle();
    // }

    // &Section {
    //     margin: 0 auto;
    //     max-width: 600px;
    //     padding: 0 20px;

    //     .subtitle {
    //         font-size: 22px;
    //         font-family: $bold;
    //         margin-bottom: 20px;
    //     }

    //     .paragraph {
    //         position: relative;
    //         margin-bottom: 20px;
    //         z-index: 1;

    //         &:last-child {
    //             background-color: transparent;
    //         }

    //         &Small {
    //             color: $gray;
    //             display: block;
    //             font-size: 12px;
    //             line-height: 18px;
    //             max-width: 200px;
    //         }

    //         &Highlight {
    //             color: $orange;
    //             font-size: 15px;
    //             font-family: $bold2;
    //             text-transform: uppercase;
    //         }
    //     }

    //     // .narrow {
    //     //     display: inline-block;
    //     //     width: 60%;
    //     // }
    // }
}