@import '../../../styles/_variables';
@import '../../../styles/mixins';

.categoryTitle {
    font-family: $bold2;
    margin-bottom: 10px;
    padding: 20px 0;
    position: relative;
    text-align: left;

    @include mdq(lg) {
        padding: 0;
        margin-bottom: 20px;
    }

    &::before {
        background-color: $blue;
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        height: 1px;
        width:40%;
        @include mdq(lg) {
            display: none;
        }
    }
    
    &::after {
        background-color: $orange;
        content: '';
        position: absolute;
        bottom: 0;
        right: 0;
        height: 1px;
        width:40%;
        @include mdq(lg) {
            display: none;
        }
    }
}