@use '../../../../styles/variables' as *;
@use "../../../../styles/mixins" as *;

.separator {
  background: $accessibleBlue;
  border-radius: $br-full;
  height: 4px;
  margin: 24px 0 22px;
  width: 64px;

  @include mdq(md) {
    margin-block: 28px 26px;
    width: 80px;
  }
}
