@use '../../../../styles/variables' as *;
@use '../../../../styles/mixins' as *;

.actions {
  align-items: stretch;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 28px;
  width: 100%;
}

.primaryAction,
.secondaryAction {
  width: 100%;
}

@include mdq(sm) {
  .actions {
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    width: auto;
  }

  .primaryAction,
  .secondaryAction {
    width: auto;
  }
}

@include mdq(md) {
  .actions {
    margin-top: 34px;
  }
}
