@import '../../../styles/_variables';
@import '../../../styles/mixins';

.welcome {
  overflow: hidden;
  position: relative;

  &Items {
    background-color: $white;
    display: flex;
    flex-flow: column;
    align-items: center;
    margin: 0 auto;
    padding: 64px 24px 8px;

    @include mdq(lg) {
      padding: 96px 32px 16px;
    }

    ul {
      max-width: 75%;

      @include mdq(lg) {
        display: flex;
        align-items: center;
      }
    }

    &Item {
      margin-bottom: 20px;
      display: flex;
      flex-flow: column;
      align-items: center;
      justify-content: center;
      padding: 20px;

      &:last-child {
        margin-bottom: 0;
      }

      @include mdq(lg) {
        margin: 0 16px;
      }
    }

    &Image {
      width: 100px;
      margin: 0 auto;
    }

    &Title {
      font-family: $cursiveTitle;
      font-size: 24px;
      padding: 10px 10px 5px;
      margin-bottom: 10px;
      text-align: center;
      position: relative;

      @include mdq(lg) {
        padding-bottom: 20px;
      }

      &::after {
        content: '';
        display: block;
        width: 32%;
        height: 1px;
        background-color: $seashell;
        position: absolute;
        bottom: 0;
        left: 0;
      }
    }

    &Text {
      text-align: justify;
      position: relative;
      padding-bottom: 10px;

      @include mdq(lg) {
        text-align: left;
      }

      &::after {
        content: '';
        display: block;
        width: 32%;
        height: 1px;
        background-color: $seashell;
        position: absolute;
        bottom: 0;
        right: 0;
      }
    }
  }

  &Quote {
    color: $platinum;
    font-family: $quoteItalic;
    font-size: 20px;
    letter-spacing: 1.5px;
    line-height: 30px;
    padding: 64px 24px;
    text-align: right;
    width: 100%;

    span {
      font-family: $quoteItalicBold;
    }
  }

  &Image {
    border-radius: 50px;
    max-width: 350px;
    position: relative;
    margin: 128px auto 32px;
    width: 100%;

    > div {
      transform: scale(1.3) rotateZ(90deg);
    }
  }
}
