@import "../../../styles/variables";
@import "../../../styles/mixins";

.cartPurchaseOrder {
  margin: 0 auto;
  padding: 48px 16px 32px 16px;
  height: 100%;
  display: flex;
  flex-flow: column;
  justify-content: space-between;

  @include mdq(lg) {
    padding: 48px 32px 32px 32px;
    width: calc(100vw / 3);
  }

  .actions {
    display: flex;
    flex-flow: column;
    align-items: center;

    @include mdq(lg) {
      flex-flow: row;
      justify-content: space-between;
    }

    .button {
      @include button-styles(
        $font-family: $regular,
        $width: calc((100% / 2) - 16px)
      );
    }
  }
}
