@import "../../../styles/variables";
@import "../../../styles/mixins";

.cartPurchaseOrder {
  padding-top: 16px;
  height: 100%;
  display: flex;
  flex-flow: column;
  justify-content: space-between;

  .actions {
    display: flex;
    flex-flow: column;
    align-items: center;

    @include mdq(lg) {
      flex-flow: row;
      justify-content: space-between;
    }

    .button {
      @include button-styles(
        $font-family: $regular,
        $width: calc((100% / 2) - 16px),
      );
    }
  }
}
