@import '../../../styles/variables';

.specialRecipe {
    padding-top: 100px;
    padding-bottom: 235px;
    margin-bottom: 35px;
    position: relative;
    overflow: hidden;

    .header {
        margin: 0 20%;
        transform: translateY(-35px);
        padding-left: 10%;

        h3 {
            color: $gray;
            font-size: 34px;
            padding-left: 8%;
        }

        h4 {
            color: $lightBlue;
            font-size: 22px;
            line-height: 20px;
            padding-left: 5%;
            margin-bottom: 10px;
        }

        .dogsStrip {
            max-width: 520px;
            margin-bottom: 35px;
            position: relative;
            z-index: 1;
        }

        .text {
            color: $gray;
            font-size: 18px;
            line-height: 28px;
            font-family: $light;
            max-width: 490px;
            margin-bottom: 30px;
            transform: translateX(-35%);
        }
    }

    .background {
        background-image: url('../../../public/images/fondo_zacate.png');
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 235px;
        width: 100%;
        position: absolute;
        bottom: 0;
        left: 0;

        .plate {
            position: absolute;
            max-width: 650px;
            bottom: -50px;
            right: 19%;
        }
    }
}