@import '../../../styles/variables';

.steps-navigation {
  padding-top: 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.step-item {
  padding-top: 16px;
  display: flex;
  flex-flow: column;
  justify-content: center;
}