@import '../../../styles/_variables';

.catalogItem {
  cursor: pointer;
  display: block;

  &Images {
    margin-bottom: 10px;

    > span {
      max-width: 250px !important;
      margin: 0 auto !important;
    }
  }

  &Details {
    text-align: center;
    h3 {
      color: $darkGray;
      font-family: $bold2;
      font-size: 14px;
      letter-spacing: 1px;
      padding-top: 4px;
      text-transform: uppercase;
      margin-bottom: 5px;
    }
    p {
      font-family: $bold;

      span {
        font-family: $regular;
        font-size: 14px;
      }
    }
  }
}
