@import '../../../styles/_variables';

.dnatureSystem {
    background-color: $lightOrange;
    padding: 80px 20px;
    position: relative;
    overflow: hidden;

    .title {
        color: $white;
        margin-bottom: 20px;
        text-shadow: 1px 1px rgba(33,33,33,.25);
        position: relative;
        z-index: 1;
    }

    &Image {
        background: url('../../../public/marca/paw-orange-shadow.svg') no-repeat;
        background-position: center center;
        opacity: 0.5;
        position: absolute;
        bottom: 0;
        left: -10%;
        height: calc(390px / 1.5);
        width: calc(390px / 1.5);
        transform: scale(2);
    }

    &Container {
        margin: 0 auto;
        width: 100%;
        max-width: 600px;
        z-index: 1;
    }

    &Item {
        margin: 0 auto;
        margin-bottom: 10px;
        width: 100%;
        max-width: 350px;
        min-width: 320px;
        
        &:last-child {
            margin-bottom: 0;
        }

        &Title {
            position: relative;
            height: 120px;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;

            > div {
                position: absolute;
                left: 50%;
                top: 50%;
                width: 100% ;
                max-width: 400px;
                transform: translate(-50%, -50%);
                display: flex;
                align-items: center;
            }

            &Text {
                color: $white;
                font-family: $bold2;
                font-size: 14px;
                max-width: 200px;
                position: relative;
                left: 9%;
                text-shadow: 1px 1px rgba(33,33,33,.25);
                transform: scale(1.075);
            }
        }
    }
}