@import "../../../styles/_variables";
@import "../../../styles/mixins";

.catalogList {
  @include mdq(md) {
    border-top: 1px solid $border;
    display: flex;
    flex-wrap: wrap;
  }

  li {
    padding: 40px 0;
    border: 1px solid transparent;
    border-bottom: 1px solid $border;
    transition: border-color 200ms ease-out;

    &:hover {
      border-color: $border;
    }

    @include mdq(md) {
      width: calc(33.333% - 48px);
      margin: 24px;
      padding: 0;
      padding-bottom: 16px;
    }

    &:last-child {
      border-bottom: 0;

      @include mdq(md) {
        border-bottom: 1px solid $border;
      }
    }
  }
}
