@import "../../styles/variables";
@import "../../styles/mixins";

.container {
  background-color: darken($white, 1%);
  margin: 0 auto;
  max-width: 768px;
  width: 100%;

  @include mdq (lg) {
    max-width: 1024px;
  }
}

.grid {
  display: flex;
  flex-wrap: wrap;
  padding: 32px 16px;

  @include mdq (lg) {
    padding: 32px 64px;
  }
}

.square {
  border: 1px solid $white;
  background-color: $white;
  border-radius: $br-base;
  margin: 8px;
  overflow: hidden;
  padding: 8px;
  position: relative;
  width: calc(50% - 16px);
  transition: all 200ms ease-out;
  
  @include mdq (md) {
    width: calc((100% / 3) - 16px);
  }

  @include mdq (lg) {
    margin: 16px;
    width: calc((100% / 3) - 32px);
  }

  &:last-child {
    width: 100%;
  }

  &:hover {
    border: 1px solid $pale-dogwood;
  }

  .buttonWrapper {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  .button {
    background-color: $white;
    border: 1px solid $seashell;
    color: $text-color;
    font-family: $bold2;
    font-size: 14px;
    padding: 8px 16px;
    text-transform: uppercase;
    width: 100%;
  }

  // &.firstRow {
  // }
  
  &.secondRow {
    @include mdq (md) {
        width: calc(50% - 16px);
    }

    @include mdq (md) {
      width: calc(50% - 32px);
  }
  }
}
