@import "../../styles/_variables";
@import "../../styles/mixins";

.blogHeroContainer {
  display: flex;
  background-color: #29434e;
  flex-flow: column;

  @include mdq(md) {
    flex-direction: row-reverse;
  }
}

.hero {
  overflow: hidden;
  min-height: 402px;
  position: relative;

  @include mdq(md) {
    width: 50%;
  }

  &Img {
    width: 100%;
    height: 100%;
    background-image: url("../../public/images/blog/hero.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: absolute;
  }
}

.heroAction {
  padding: 96px 32px;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;

  @include mdq(md) {
    padding: 128px 32px;
    width: 50%;
  }

  @include mdq(lg) {
    padding: 128px 64px;
    width: 50%;
    min-height: 66.6vh;
  }

  &Title {
    color: $blue;
    font-family: $bold;
    font-size: 32px;
    line-height: 40px;
    margin-bottom: 32px;
    max-width: 590px;
    opacity: 1;
    text-transform: uppercase;
    text-align: center;

    @include mdq(md) {
      font-size: 40px;
      line-height: 48px;
    }

    span {
      color: $orange;
      display: inline-block;
      font-family: $cursiveTitle;
      font-size: 48px;
      letter-spacing: 3px;
      // line-height: 48px;
      padding: 0 8px;
      text-transform: none;

      @include mdq(md) {
        font-size: 56px;
        transform: scale(1.1);
        padding: 0 16px;
        margin-bottom: 8px;
      }
    }
  }

  &Paragraph {
    color: white;
    font-family: $light;
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 48px;
    text-align: center;

    @include mdq(md) {
      font-size: 18px;
      line-height: 28px;
    }
  }
}
