@import '../../../../styles/_variables';

.hero {
    height: 100vh;
    position: relative;

    &Filter {
        background-color: rgba(0, 0, 0, 0.5);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
    }

    &Background {
        background: url('../../../../public/images/hero.jpg') no-repeat;
        background-size: cover;
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0
    }

    &Title {
        color: white;
        font-family: $bold;
        font-size: 26px;
        line-height: 30px;
        z-index: 1;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        width: 100%;

        span {
            color: $darkGreen;
            display: inline-block;
            font-family: $bold2;
            font-size: 58px;
            letter-spacing: -8px;
            line-height: 70px;
            text-transform: uppercase;
            position: relative;
            opacity: 0.9;
            text-decoration: underline;
        }
    }
}