@import '../../../styles/variables';

.navbar {

    &Item {
        color: $border;
        font-family: $bold2;
        font-size: 11px;
        letter-spacing: 1.1px;
        padding-right: 15px;
        margin-right: 15px;
        text-transform: uppercase;
        transition: color 100ms ease;
        cursor: pointer;
        border-right: 1px solid $border;

        &.active {
            color: $orange!important;
        }

        &.dark {
            color: $gray;
        }

        &:hover {
            transform: scale(2);
            color: darken($orange, 7.5%);
        }
    }
}