@use '../../../../styles/variables' as *;
@use '../../../../styles/mixins' as *;

.product {
  margin: 0 auto;
  max-width: 1280px;
  padding: 24px 16px 108px;
  width: 100%;

  @include mdq(lg) {
    padding: 40px 24px 80px;
  }

  .backLink {
    align-items: center;
    color: $davys-gray;
    display: flex;
    font-family: $regular;
    font-size: 12px;
    gap: 8px;
    margin-bottom: 20px;
    overflow: hidden;

    a {
      color: $accessibleBlue;
      font-family: $bold;
      flex: 0 0 auto;
    }

    span:last-child {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}
