@import '../../styles/variables';
.planButton {
  background-color: $white;
  border: 2px solid $white;
  border-radius: $br-base;
  font-size: 16px;
  font-family: $bold;
  letter-spacing: 1.2px;
  min-width: 120px;
  margin: 0 10px;
  padding: 12px;
  text-transform: uppercase;

  &.primary {
    color: $darkGreen;
  }

  &.secondary {
    background-color: transparent;
    color: $white;
  }
}
