@import '../../styles/variables';
@import '../../styles/mixins';

.modalContainer {
    background-color: rgba(21, 21, 21, 0.85);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    padding: 10px;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 6;
  
    .modal {
      background-color: $white;
      height: calc(100% - 8px);
      width: calc(100% - 8px);
      max-width: 600px;
      padding: 16px;
      position: relative;
      overflow: auto;
  
      @include mdq(md) {
        height: calc(100% - 20px);
        width: calc(100% - 20px);
        height: auto;
        padding: 32px;
      }

      .close {
        position: absolute;
        right: 16px;
        top: 16px;
        cursor: pointer;
      }
    }
}