@import '../../styles/variables';

.modal {
    position: fixed;
    top: 0;
    left: 100vw;
    height: 100vh;
    width: 100vw;
    background-color: $white;
    z-index: 3;
    animation: 390ms ease-in-out 10ms 1 normal forwards;

    &Close {
        color: $white;
        font-size: 45px;
        position: absolute;
        top: 15px;
        right: 30px;
        z-index: 3;
    }
}

