@import '../../../styles/variables';
@import '../../../styles/mixins';

.contact {
  padding: 64px 32px;
  background-color: $text-color;
  position: relative;
  overflow: hidden;

  @include mdq(md) {
    padding: 128px 32px;
  }

  .title {
    color: $green;
    font-family: $cursiveTitle;
    font-size: 32px;
    margin: 0 auto;
    margin-bottom: 40px;
  }

  &List {
    max-width: 600px;
    margin: 0 auto;
    margin-bottom: 40px;
    padding-left: 20px;
    width: 100%;

    li {
      color: $green;
      display: flex;
      align-items: center;
      margin: 0 auto;
      margin-bottom: 20px;
      max-width: 240px;

      div {
        width: 100%;
        display: flex;
        align-items: center;
      }

      &:last-child {
        margin-bottom: 0;

        .contactIcon {
          font-size: 14px;
        }
      }

      @include mdq(sm) {
        flex-flow: column;
        margin: 0;
        width: calc(100% / 3);

        div {
          flex-flow: column;
          justify-content: space-between;
          height: 100%;
        }
      }
    }

    @include mdq(sm) {
      display: flex;
      padding-left: 0;
    }
  }

  &Item {
    margin-left: 15px;

    @include mdq(sm) {
      margin-left: 0;
    }
  }

  &Icon {
    display: flex;
    justify-content: center;
    font-size: 16px;
    opacity: 0.8;

    @include mdq(sm) {
      margin-bottom: 5px;
    }
  }
}
