@import '../../../../styles/_variables';

.contact {
    padding: 80px 20px;
    background-color: $green;

    &Title {
        margin-bottom: 40px;
    }

    &List {
        max-width: 600px;
        margin: 0 auto;
        margin-bottom: 40px;
        padding-left: 20px;
        width: 100%;

        li {
            display: flex;
            align-items: center;
            margin: 0 auto;
            margin-bottom: 20px;
            max-width: 240px;

            &:last-child {
                margin-bottom: 0;

                .contactIcon {
                    font-size: 14px;
                }
            }

            
        }
    }

    &Item {
        margin-left: 15px;
    }

    &Icon {
        display: flex;
        justify-content: center;
        font-size: 16px;
        opacity: 0.8;
    }
}