@import '../../../styles/_variables';
@import '../../../styles/mixins';

.filter {
    display: none;

    @include mdq(lg) {
        display: block;
    }

    &List {
        width: 200px;

        li {
            color: $darkGray;
            cursor: pointer;
            font-family: $bold2;
            font-size: 16px;
            padding: 5px 0;
            padding-left: 6px;
            position: relative;
            transition: color 200ms ease;

            &.active,
            &:hover {
                color: $black;

                &::before {
                    background-color: $black;
                }
            }

            &::before {
                content: '';
                position: absolute;
                left: 0;
                top: 50%;
                transform: translateY(-50%);
                height: 12px;
                width: 2px;
                background-color: transparent;
            }
        }
    }
}