@use '../../../styles/variables' as *;

.cartActions {
  display: grid;
  gap: 10px;
}

.continueButton {
  border-radius: 14px;
}

.secondaryActions {
  align-items: center;
  display: flex;
  justify-content: space-between;

  button {
    font-size: 11px;
  }
}

.emptyButton {
  color: $important;

  &:hover {
    background: rgba($important, 0.08) !important;
  }
}
