@use "../../../styles/variables" as *;
@use "../../../styles/mixins" as *;

.cartActions {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column-reverse;

  @include mdq(md) {
    flex-flow: row;
    justify-content: space-between;
  }

  .button {
    margin-bottom: 16px;
    width: 100%;

    @include mdq(md) {
      margin-bottom: 0;
      width: calc((100% / 3) - 16px);
    }
  }
}
