@import '../../../styles/variables';

.headerNav {
    height: 75px;
    transition: all 200ms linear;
    border-bottom: 1px solid #f1f1f1;

    .container {
       display: flex;
       align-items: center;
       justify-content: center;
       height: 100%;
       position: relative;

       .logo1,
       .logo2 {
           width: 70px;
           display: flex;
           position: absolute;
           right: 20px;
           top:  12px;
           transition: all 200ms linear 100ms;
       }

       .logo1 {
           opacity: 1;
       }

       .logo2 {
           opacity: 0;
       }
    }
}