$blue: #07bbc7;
$lightBlue: #5dd8db;
$orange: #ff6f00;
$lightOrange: #ffa364;
$yellow: #e9b502;
$darkGreen: #a8b247;
$green: #dbe077;
$white: #ffffff;
$lightGray: #bcbec0;
$darkGray: #2c2c2c;
$gray: #888585;
$black: #3a3a3a;
$border: #efefef;

$light: 'Poppins Light';
$regular: 'Poppins';
$bold: 'Poppins Bold';

$light2: 'OpenSans Light';
$regular2: 'OpenSans';
$bold2: 'OpenSans Bold';

$quote: 'Raleway Light';
$quoteItalic: 'Raleway Light Italic';
$quoteItalicBold: 'Raleway Regular Italic';

$cursiveTitle: 'Lobster';

// default-sizes
$headerHeight: 70px;
$subHeaderHeight: 35px;

// border-radius

$br-none: 0;
$br-sm: 0.125rem;
$br-base: 0.25rem;
$br-md: 0.375rem;
$br-lg: 0.5rem;
$br-xl: 0.75rem;
$br-xxl: 1rem;
$br-xxxl: 1.5rem;
$br-full: 9999px;

$primary-color: #07bbc7;
$primary-hover: #04a6af;
$secondary-color: #ff6f00;
$secondary-hover: #e66300;
$background-color: #f7f7f7;
$important: #d33f49;
$text-color: #333333;
$accent-color-1: #29434e;
$accent-color-2: #f2a83b;
$accent-color-3: #598392;
$accent-color-4: #d33f49;
$platinum: #ebe3e2;
$rosy-brown: #cba29a;
$dim-gray: #75696a;
$davys-gray: #4d464a;
$pale-dogwood: #e2c8c1;
$seashell: #f2e6e2;
$snow: #f6f3f5;
