$orange: #f46f14;
$blue: #16bac6;
$onyx: #353935;
$black: #212121;
$white: #fefefa;

$regular: "Poppins";
$bold: "Poppins Bold";
$bold2: "OpenSans Bold";
$light: "OpenSans Light";
$regular2: "OpenSans";