$orange: #FF7000;
$blue: #00A9B5;
$onyx: #353935;
$black: #212121;
$white: #fefefa;
$yellow: #E9B502;
$gray: #60605F;
$green: #739E08;
$darkGreen: #486953;

$light: "Poppins Light";
$regular: "Poppins";
$bold: "Poppins Bold";

$light2: "OpenSans Light";
$regular2: "OpenSans";
$bold2: "OpenSans Bold";