@import './fonts';
@import './variables';
@import './mixins';

html,
body {
  color: $black;
  font-family: $regular;
  font-size: 16px;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

ul,
ol {
  list-style: none;
}

p,
ol,
ul,
h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}

.seo-hidden {
  display: inline-block;
  width: 0;
  height: 0;
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
}

a {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
    color: $orange;
  }
}

button {
  background-color: transparent;
  border: none;
  color: $black;
  outline: none;
}

input {
  &:focus {
    outline: none;
  }
}

.title {
  font-size: 32px;
  font-family: $bold2;
  text-align: center;
  line-height: 38px;
  max-width: 500px;
  padding: 0 20px;

  @include mdq(md) {
    font-size: 32px;
  }

  span {
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: -3px;
    font-size: 32px;
  }
}

.uppercase {
  font-family: $bold;
  font-size: 14px;
  text-transform: uppercase !important;
}

.small {
  font-size: 14px !important;
}

.bold {
  font-family: $bold;
}

.flex-center-column {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.slideIn {
  animation-name: slide-in !important;
}

.slideOut {
  animation-name: slide-out !important;
}

.link {
  color: $gray;
  text-decoration: underline;
}

.mb {
  margin-bottom: 25px !important;
}

.flex-row {
  display: flex;
  flex-flow: column;

  @include mdq(md) {
    flex-flow: row;
  }

  &.center {
    align-items: center;
    justify-content: center;
  }
}

@keyframes slide-in {
  from {
    left: 100vw;
  }
  to {
    left: 0;
  }
}

@keyframes slide-out {
  from {
    left: 0;
  }
  to {
    left: 100vw;
  }
}
