@import "../../../styles/variables";
@import "../../../styles/mixins";

.cartItemController {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 16px;

  .badge {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: $br-full;
    border: 1px solid darken($snow, 5%);
    background-color: $snow;
    font-size: 18px;
    padding: 4px 8px;
    min-width: 60px;
    margin-right: 16px;

    button {
      cursor: pointer;
      display: inline-block;
      font-size: 24px;
      margin: 0 24px;
    }
  }

  .delete {
    color: $important;
    cursor: pointer;
    font-size: 20px;
  }
}
