@import "../../../styles/_variables";
@import "../../../styles/mixins";

.catalog {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  padding: 32px 16px;
  position: relative;

  @include mdq(lg) {
    display: flex;
    max-width: 1440px;
    margin: 0 auto;
    padding: 64px 32px;
  }
}

.catalogContent {
  width: 100%;

  @include mdq(lg) {
    border-left: 1px solid $border;
    flex: 1;
    margin-left: 40px;
    padding: 7px 40px 40px;
  }
}

.searchWrapper {
  margin-bottom: 24px;
}

.category {
  margin-bottom: 40px;

  &:last-child {
    margin-bottom: 0;
  }
}
