@import "../../../styles/_variables";
@import "../../../styles/mixins";

.catalog {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  padding: 32px 16px;

  @include mdq(lg) {
    display: flex;
    max-width: 1440px;
    margin: 0 auto;
    padding: 64px 32px;
  }

  .category {
    padding: 40px 0;
    margin-bottom: 40px;

    @include mdq(lg) {
      border-left: 1px solid $border;
      flex-grow: 1;
      padding: 40px;
      padding-top: 7px;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}
